[submodule "dataset/raw-data/ConceptARC"]
	path = dataset/raw-data/ConceptARC
	url = https://github.com/victorvikram/ConceptARC
[submodule "dataset/raw-data/ARC-AGI"]
	path = dataset/raw-data/ARC-AGI
	url = https://github.com/fchollet/ARC-AGI
[submodule "dataset/raw-data/ARC-AGI-2"]
	path = dataset/raw-data/ARC-AGI-2
	url = https://github.com/arcprize/ARC-AGI-2
